<%= form_for outfit, url: url, method: method do |f| %>
  <div>
    <%=f.file_field :image, class: "btn btn-secondary btn-lg"%>
  </div>
  <br>
  <div class="login-form">
    <%= f.text_field :caption, placeholder: "Caption" %><br>
    <%= f.text_field :hashtags, placeholder: "#Add tags (comma separated)"%>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :board_id  %>

    <%= f.submit class: "btn btn-primary btn-sm"%>
  </div>
<% end %>
<br>
<div class="button"><%= link_to "Go Back", user_boards_path(current_user)%></div>
