<%= form_for outfit, url: url, method: method do |f| %>
  <div>
    <%=f.file_field :image, class: "btn btn-secondary btn-lg"%>
  </div>
  <br>
  <div class="login-form">
    <%= f.text_field :caption, placeholder: "Caption" %><br>
    <%= f.text_field :hashtags, placeholder: "#Add tags (comma separated)"%>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :board_id  %>

    <%= f.submit class: "btn btn-outline-secondary"%>
  </div>
  <p id="cancel-create-outfit"><%= link_to "Cancel", @board%></p>
<% end %>
<br>
