<%= form_for @user do |f|%>
  <p><%= f.file_field :image %></p>
  <br>
  Username: <%= f.text_field :username %><br>
  Email Address: <%= f.text_field :email_address %><br>
  Password: <%= f.password_field :password %><br>
  Bio: <%= f.text_field :bio %><br>
  <%= f.submit class: "button"%>
<% end %>
<br>
