<% if @user.image? %>
  <%= image_tag @user.image.url, {class: "user-show", id: "user-#{@user.id}"}%>
<% else %>
  <%= image_tag asset_path('no_image.png'), {class: "user-show", id: "user-#{@user.id}"}%>
  <% end %>
<br>
<br>
<h1><%=@user.username %>!</h1>
<% if @user.bio != nil %>
  <h6><em><font color= 'grey'>Bio: <%=@user.bio%></em></h6>
<% end %>
<br>
<br>
<div class= "button"><%= link_to "Boards", user_boards_path(@user) %></div>
